header {
  margin: 0;
  padding: 15px 60px;
  position: fixed;
  background-color: #E4EEF0;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: calc(100vw - 120px);
  z-index: 3;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}

.languages-container {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.languages-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #003640;
  padding: 15px 0;
  border-radius: 5px;
  display: none;
}

.languages-dropdown span {
  cursor: pointer;
  color: #E4EEF0;
  text-transform: capitalize;
  padding: 5px 15px;
}

.languages-dropdown span:hover {
  background-color: #E4EEF0;
  color: #003640;
}

h2 {
  margin: 30px 0;
}

h3 {
  margin: 15px 0;
}

.btn {
  padding: 5px 15px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.primary-navy {
  background-color: #003640 !important;
}

.primary-navy:hover {
  background-color: #F2572B !important;
  color: #E4EEF0 !important;
}

.primary-btn {
  background-color: #F2572B;
  color: #E4EEF0;
}

.primary-btn:hover {
  border-color: #F2572B;
  background-color: transparent;
  color: #F2572B;
}

.secondary-btn {
  border-color: #003640;
  color: #003640;
  background-color: transparent;
}

.secondary-btn:hover {
  background-color: #003640;
  color: #E4EEF0;
}

#heroShot {
  padding-top: 83px;
  height: 70dvh;
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-info {
  width: calc(50% - 60px);
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  padding-left: 60px;
}

.hero-info span {
  color: #E4EEF0;
}

.hero-img {
  width: 50%;
  height: 100%;
  background-image: url(img/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#mostBooked {
  margin: 30px 60px;
}

.carousel-container {
  overflow-x: hidden;
}

.carousel-item {
  background-color: #003640;
  width: calc(100vw - 120px);
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px;
  padding-left: 0;
}

.carousel-item-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.carousel-item-img {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
}

.carousel-item-img img {
  height: 100%;
}

.carousel-track {
  display: flex;
  overflow-x: auto;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 30px;
}

.carousel-item h3,
.carousel-item span {
  color: #E4EEF0;
}

.carousel-dots {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.carousel-dots .dot {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #00364080;
  display: block;
}

.carousel-dots .active {
  background-color: #003640;
}

#searchResaults {
  padding: 30px 60px;
}

.search-top form {
  display: flex;
  gap: 30px;
  position: relative;
  margin-bottom: 30px;
}

#search,
.newsletter-form input {
  border: 2px solid #003640;
  border-radius: 5px;
  padding: 5px 10px;
  width: 350px;
  color: #003640;
  font-size: 18px;
  font-weight: 700;
}

#search::placeholder,
.newsletter-form input::placeholder {
  font-weight: 700;
  font-size: 18px;
  color: #00152480;
}

.search-resaults {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 60px;
}

.search-resaults>div:first-child {
  grid-column: span 2;
}

/* .search-resaults>div:nth-child(4) {
  grid-column: span 2;
}

.search-resaults>div:nth-child(even) {
  grid-column: span 2;
} */
.search-resaults>div:nth-child(3n) {
  grid-column: span 2;
}

.search-resaults>div:last-child {
  grid-column: span 2;
}

.search-item {
  background-color: #003640;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.search-item h3 {
  color: #E4EEF0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-item span {
  color: #E4EEF0;
  flex-grow: 1;
}

.search-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 100%;
  height: auto;
}

.search-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-grow: 1;
}

#newsletter {
  background-color: #003640;
  display: flex;
  padding: 0 60px;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.newsletter-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  padding: 30px 0;
  max-width: 50%;
}

.newsletter-form input {
  background-color: #E4EEF0;
  border-color: #E4EEF0;
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 30px;
}

.newsletter-info p {
  color: #E4EEF0;
}

.newsletter-img {
  display: flex;
  justify-content: flex-end;
}

footer {
  padding: 30px 60px;
  margin-top: 30px;

}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.footer-rights img {
  max-height: 22px;
  width: auto;
}

.footer-rights {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
}

.footer-rights p,
.footer-rights span {
  font-size: 14px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00152395;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

.js-block {
  display: block;
}

.categories-container {
  position: absolute;
  z-index: 6;
  background-color: #E4EEF0;
  max-width: 300px;
  overflow-x: hidden;
  display: none;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.categories-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
}

.categories-item img {
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}

.categories-item:hover img {
  transform: translateX(3px);
  transition: transform .5s ease-in-out;
}

.subcategories {
  overflow-y: auto;
  max-height: 100%;
  background-color: #E4EEF0;
  width: 100%;
}

.subcategories-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 100%;
  background-color: #E4EEF0;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.subcategories-container:last-child {
  padding-bottom: 15px;
}

.sub-active {
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}

.subcategories-title {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-bottom: 2px solid #003640;
  gap: 15px;
  cursor: pointer;
}

.subcategories-title img {
  transform: rotate(180deg);
}

.subcategories-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px;
}

.subcategories-link {
  cursor: pointer;
  position: relative;
  width: fit-content;
  padding-bottom: 5px;
  overflow: hidden;
}

.subcategories-link:before {
  content: "";
  width: calc(100% + 8px);
  border-bottom: 2px solid #003640;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: -4px;
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.subcategories-link:hover::before {
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}

nav a,
.footer-links-container a {
  cursor: pointer;
  position: relative;
  width: fit-content;
  padding-bottom: 5px;
  overflow: hidden;
}

nav a:before,
.footer-links-container a:before {
  content: "";
  width: calc(100% + 8px);
  border-bottom: 2px solid #003640;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: -4px;
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

nav a:hover:before,
.footer-links-container a:hover::before {
  transform: translateX(0);
  transition: transform .5s ease-in-out;
}