header {
  margin: 0;
  padding: 15px 60px;
  position: fixed;
  background-color: #E4EEF0;
  width: 100%;
}

h2 {
  margin: 30px 0;
}

h3 {
  margin: 15px 0;
}

.btn {
  padding: 5px 15px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.primary-navy {
  background-color: #003640 !important;
}

.primary-navy:hover {
  background-color: #F2572B !important;
  color: #E4EEF0 !important;
}

.primary-btn {
  background-color: #F2572B;
  color: #E4EEF0;
}

.primary-btn:hover {
  border-color: #F2572B;
  background-color: transparent;
  color: #F2572B;
}

.secondary-btn {
  border-color: #003640;
  color: #003640;
  background-color: transparent;
}

.secondary-btn:hover {
  background-color: #003640;
  color: #E4EEF0;
}

#heroShot {
  padding-top: 173px;
  height: 70dvh;
  display: flex;
}

.hero-info {
  width: 50%;
}

.hero-info span {
  color: #E4EEF0;
}

.hero-img {
  width: 50%;
  height: 100%;
  background-image: url(img/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#mostBooked {
  margin: 30px 60px;
}

.carousel-item {
  background-color: #003640;
  width: calc(100vw - 120px);
}

.carousel-item h3,
.carousel-item span {
  color: #E4EEF0;
}

.carousel-dots {
  margin: 15px;
}

.carousel-dots .dot {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: #00364080;
  display: block;
}

.carousel-dots .active {
  background-color: #003640;
}